<div style="padding: 13px;">

    <mat-card *ngFor="let animal of selectedPet" style="margin-top:10px;">
        
        <mat-card-header *ngIf="animal">
            <h1>If you want to see  how I (  {{animal.called}} ) look like click below</h1>   
        </mat-card-header>

        <mat-card-content>
                <div>
                    <mat-card-title class="badge">#{{animal.id}}</mat-card-title><br>   
                    <mat-card-subtitle>title: {{animal.title}}</mat-card-subtitle>
                    <mat-card-subtitle>called: {{animal.called}}</mat-card-subtitle> 
                </div>
        </mat-card-content>
      
    </mat-card>

</div>


<div style="padding: 13px;" id="custom-div" >
    <mat-card-actions *ngFor="let animal of selectedPet">

        <button mat-button (click)="animalButton()" class="close" > Watch {{animal.called}}</button>

        <div *ngIf="isShow" id="first-div" class="col-sm-7">
            <mat-card-content class="image" >
                <img style="height:100%; width: 100%;" src="{{animal.src}}"/>
            </mat-card-content>
        </div>
        
    </mat-card-actions>   
</div>